// footer start

footer {
  margin: 15rem 0 3rem;
  .container {
    display: flex;
    justify-content: space-between;
    // @include center($justify space-between);
    .footer_col1 {
      h5 {
        font-size: 5.22rem;
        font-family: $font_2;
        line-height: 5.8rem;
        margin-bottom: 2rem;
        color: #2d2d2b;
        font-weight: 400;
      }
      p {
        color: #717171;
      }
    }
    .footer_col2 {
      display: flex;
      align-items: center;
      gap: 10rem;
      span {
        color: #717171;
      }
      .col2 {
        width: 28rem;
      }
    }
  }
}
