@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 220px;
  height: 350px;
  display: inline-block;
  padding: 20px 20px;
  border-radius: 3px;
  margin-right: 40px;
  text-align: center;
}
.box1 {
  background-color: rgb(209, 209, 209);
  margin-left: 250px;
}
.box2 {
  background-color: rgb(209, 209, 209);
}
.box3 {
  background-color: rgb(209, 209, 209);
}
.box4 {
  background-color: rgb(209, 209, 209);
}
div i {
  color: rgb(45, 127, 183);
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}
body h1 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  text-align: center;
}
